.about-header-content-description{
  font-size: 3rem;
  font-weight: 300;
  width: 90%;
}

@media (max-width: 480px) {
  .about-header-container{
    height:100vh;
    padding-bottom: 0;
  }

  .about-header-wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .about-header-content{
    margin-left: 0;
  }

  .about-header-content-title{
    font-size: 2rem;
    font-weight: 200
  }

  .about-header-content-description{
      font-size: 1rem;
      font-weight: 100;
    }
}