*{
  margin: 0;
  padding: 0;
}

.intro{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  width: 75%;
}

.head{
  font-size: 75px;
}

.bio{
  width: 75%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

.exp{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid red;
}

.left{
  display: flex;
  width:35%;
  border: 2px solid yellow;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.right{
  display: flex;
  width:35%;
  border: 2px solid yellow;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}