*{
  margin: 0;
  padding: 0;
}

.intro{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 30vh;
  width: 75%;
}

.head{
  font-size: 75px;
}

.bio{
  width: 75%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  font-size: 30px;
  border-bottom: 2px solid aquamarine;
}

.exp{
  display: flex;
  justify-content: space-around;
  height: 50vh;
  margin-top: 100px;
}

.exp div{
  font-size: 50px;
}

.left{
  display: flex;
  flex-direction: column;
  width:35%;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.title-left{
  margin-bottom: 40px;
  border-bottom: 2px solid white;
}

.card-left{
  display:flex;
  justify-content: space-evenly;
  height:70%;
  width: 500px;
  
}

.card-left li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right{
  display: flex;
  flex-direction: column;
  width:35%;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.title-right{
  margin-bottom: 40px;
  border-bottom: 2px solid white;
}

.card-right{
  display:flex;
  justify-content: space-evenly;
  height:70%;
  width: 500px;
  list-style: none;
}

.card-right li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-icon img{
  height: 75px;
  margin-top: 40px;
}

.cont{
  display: flex;
  justify-content: center;
  height: 50vh;
  list-style: none;
}

.lang{
  font-size: 50px;
  justify-content: center;
  align-items: center;
  width: 500px;
  list-style: none;
}

.list{
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}
.list ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.title{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid white;
  width: 100%;
}