*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.name{
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: center;
}

.name input{
    font-size: 30px;
    font-family: Kanit, sans-serif;
}

.message{
    display: flex;
    min-height: 225px;
    align-items: center;
    justify-content: center;
}
.message textarea{
    font-family: Kanit, sans-serif;
    font-size: 30px;
    height: 225px;
    width: 550px;
}

.submit{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
}

.submit button{
    text-decoration: none;
    position: relative;
    color: white;
    border-radius: 25px;
    height: 50px;
    width: 150px;
    background: transparent;
    border: transparent;
    font-size: 40px;
}

.submit button::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: aquamarine;
    transform: scaleX(0); 
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
}

.submit button:hover::after{
    transform: scaleX(1);
    transform-origin: bottom;
}