.contact-container{
  display:flex;
  align-items: center;
  flex-direction: column;
  height: 88vh;
}
.contact-header{
  font-size: 4rem;
  font-weight: 500;
}

.contact-header span{
  color: #00ABE4;
}

.info-boxes-container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.name{
    min-height: 50px;
    align-items: center;
    justify-content: center;
}

.name input{
    font-size: 30px;
    width: 550px;
    font-family: Inter;
}

.message{
    display: flex;
    min-height: 200px;
    align-items: center;
    justify-content: center;
}
.message textarea{
    font-family: Kanit, Inter;
    font-size: 30px;
    height: 200px;
    width: 550px;
}

.submit{
    display: flex;
    height: 10vh;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;

}

.submit a{
    text-decoration: none;
    position: relative;
    height: 50px;
    width: 125px;
    font-size: 40px;
}

.submit a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: black;
    transform: scaleX(0); 
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
}

.submit a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom;
}

@media (max-width: 480px) {
    .header {
      font-size: 30px;
      margin-top: 20px;
      text-align: center;
    }
  
    .name {
      min-height: 30px;
    }
  
    .name input {
      font-size: 20px;
      width: 80%;
    }
  
    .message {
      min-height: 150px;
      padding: 10px;
    }
  
    .message textarea {
      font-size: 20px;
      height: 150px;
      width: 90%;
    }
  
    .submit {
      height: 10vh;
    }
  
    .submit a {
      font-size: 25px;
      height: 40px;
      width: 100px;
    }

    .submit a::after{
        width: 80%;
    }
  }