.nav-container{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    background-color: #00ABE4;
}
.nav-item{
    padding: 15px 25px 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}
.nav-item > *{
    text-decoration: none;
    position: relative;
    color: #E9F1FA;
}

.nav-item:last-of-type{
    margin-right: 25px;
}

.nav-item > *::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: #E9F1FA;
    transform: scaleX(0); 
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
}

.nav-item > *:hover::after{
    transform: scaleX(1);
    transform-origin: bottom;
}

@media (max-width: 480px) {
    .nav-container {
      justify-content: space-between;
    }
  
    .nav-item {
      padding: 10px;
      font-size: 20px;
      margin-right: 15px;
    }
  
    .nav-item:last-of-type {
      margin-right: 15px;
    }
  }