*{
    margin: 0;
    padding: 0;
  }
body{
    min-height: 100vh;
    font-family: Kanit, sans-serif;
    background-color: blue;
    
}
.man{
    display: flex;
}
.head{
    left: 0;
    padding-top: 50px;
    font-size: 50px;
}